



body {
	margin : 0;
	font-family: 'Roboto', Helvetica;
	background-color: #FFD8A5;
}

/* -------------------------------------------- 
				SIDEBAR NAVIGATION BAR
----------------------------------------------- */

nav {
	height: 100%;
	width: 20em;
	position : fixed;
	z-index: 1;
	top : 0;
	left : 0;
	background-color : #707070;
	overflow-x: hidden;

}

.nav {
	padding-top: 8em;
	font-size: 1.2em;
}

nav p {
	color: black;
	padding-left: 1.75em;
	display: block;
}

nav a {
	color: white;
	padding: 1em 0.75em 0.75em 2em;
	text-decoration: none;
	display: block;

}

nav a:hover {
	background-color: #F59C4E;
	transition: 0.4s;
}

/* -------------------------------------------- 
				HAUT DROITE DE PAGE
----------------------------------------------- */

.date {
	position: absolute;
	top: 2em;
	right: 10em;
	
}

.date p {
	float: right;
	margin-left: 0.4em;
	margin-bottom: 4em;
}

.date img {
	margin-top: 0.25em;
	height: 40px;
	width: 40px;
}

a {
	text-decoration: none;
	color : none;
}
.content {
	margin-left: 350px;
	padding-left: 20px;
}

/* -------------------------------------------- 
				PAGE D'ACCUEIL
----------------------------------------------- */



.match-prevu {
	font-size: 1.5em;
	margin-top: 4em;
	padding-left: 2em;
	margin-right: 2em;
	border-bottom: 1px solid #707070;
	border-top: 1px solid #707070;
	color : #2D2C2C;
}

.redirection-accueil {
	margin-top : 0.7em;
}


.redirection-accueil button {
	width : 27.5%;
	background-color: #6E253C;
	border: none;
	color: white;
	padding: 9em 2em 7em;
	font-size: 1.4em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1em 1em;
	cursor: pointer;
	border-radius: 0.5em;
	border: 2px solid #6E253C;
}


.redirection-accueil button:hover {
	transition: 0.6s;
	background-color: white;
	color: #6E253C;
	border-color: #6E253C;
}


/* -------------------------------------------- 
				PAGES DE CREATION
----------------------------------------------- */

.formulaire {
	position: relative;
	top: 5em;
}

.formulaire input, .formulaire p,{
	margin-bottom: 2em;
}

.formulaire form p {
	margin-bottom: 1em;
}

input[type=text] {
	font-family: 'Roboto', Helvetica;
	width: 20%;
	margin: 0;
    padding: 12px 20px;
   	box-sizing: border-box;
}


input[type=submit] {
	font-family: 'Roboto', Helvetica;
	font-size: 1em;
    background-color: #4CAF50;
    border: solid 2px #4CAF50;
    border-radius: 3px;	
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    margin: 1em 2px;
    cursor: pointer;
}

input[type=date] {
	font-family: 'Roboto', Helvetica;
	width: 15%;
	margin: 0;
    padding: 0 0.5em;
    text-align: center;
   	box-sizing: border-box;
}

input[type=time] {
	font-family: 'Roboto', Helvetica;
	width: 8%;
	margin: 0;
    	padding: 0 ;
   	box-sizing: border-box;
	text-align : center;
}


input[type=submit]:hover {
	transition: 0.6s;
	background-color: white;
	color: #4CAF50;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance : none;
	-moz-appearance : none;
	
}

input[type=number] {	
	appearance : none;
	box-sizing : border-box;
	width : 6%;
	text-align: center;
	

}

.licence {
	margin-top : 2em;
	margin-bottom : 2em;
}

.photo_joueur {
	position : absolute;
	top : 5%;	
	right : 50%;
	
}

.bouton_retour {
	text-decoration: none;
    display: inline-block;
    padding: 1.2em 2.5em;
    background-color: #f1f1f1;
    margin-right : 0.5em;
    color: black;
}

.bouton_retour:hover {
    background-color: #ddd;
    color: black;
    transition : 0.2s;
}

/* -------------------------------------------- 
	 	PAGES DE TRAITEMENT
----------------------------------------------- */

.message_etat {
	margin-left : 1em;	
	margin-top : 11%;
}


/* -------------------------------------------- 
	 	PAGES DE VISUALISATION
----------------------------------------------- */

.affichage_matchs p {
	font-size : 20px;
	margin-top : 11.25%;
}

.affichage_matchs .bouton_creation {
	font-family: 'Roboto', Helvetica;
	font-size: 1em;
    background-color: #4CAF50;
    border: solid 2px #4CAF50;
    border-radius: 3px;	
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    cursor: pointer;
	position : absolute;
	bottom : 13%;
	right : 3%;
}

.affichage_matchs .bouton_creation:hover {
	transition: 0.6s;
	background-color: white;
	color: #4CAF50;

}
	.tableau_affichage {
	height : 30em;
	overflow : auto;
	width : 96%;
	}

	.tableau_affichage table {
	width : 100%;
	border-collapse : separate;
	border-spacing:0 5px;
	}

	

	.tableau_affichage tr {
	background-color : #cccccc;

	}


	.tableau_affichage table td,.tableau_affichage  td,.tableau_affichage  th {
	  text-align: center;
	  padding: 1em 0;
	}


	.tableau_affichage  tr:hover{
	background-color: #dddddd;
	/* box-shadow: 10px 10px 8px #888888; */
	}


	.tableau_affichage td i:hover {
	color: #ffff;
	}

